:root {
  /*default for light mode */

  --bg-color: white;
  --text-color: rgb(66, 66, 66);
  --title-color: rgb(177, 177, 177);
  --toggle-color: rgb(138, 138, 138);
  --input-bg-color: rgb(243, 242, 242);
  --input-color: rgb(34, 34, 34);
  --line-color: rgb(219, 219, 219);
  --btn-color: rgb(240, 239, 239);
  --btn-hover-color: rgb(228, 226, 226);
}

[data-theme="dark"] {
  --bg-color: rgb(36, 36, 36);
  --text-color: white;
  --title-color: rgb(70, 70, 70);
  --toggle-color: rgb(189, 62, 189);
  --input-bg-color: rgb(68, 68, 68);
  --input-color: rgb(236, 236, 236);
  --line-color: rgb(90, 90, 90);
  --btn-color: rgb(177, 177, 177);
  --btn-hover-color: rgb(58, 58, 58);
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
