:root {
  /*default for light mode */

  --bg-color: white;
  --text-color: rgb(36, 36, 36);
  --toggle-color: rgb(68, 68, 68);
}

[data-theme='dark'] {
  --bg-color: rgb(36, 36, 36);
  --text-color: white;
  --toggle-color: rgb(189, 62, 189);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
